<?php defined('BASEPATH') OR exit('No direct script access allowed');?>

    <!-- FOOTER -->
    <footer class="py-8 py-md-11 bg-gray-200">
        <div class="container">

        </div> <!-- / .container -->
      </footer>
  
      <!-- JAVASCRIPT -->
      <!-- Map JS <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script> -->
      <!-- Vendor JS -->
      <script src="<?php echo base_url();?>@static/js/vendor.bundle.js"></script>
      <!-- Theme JS -->
      <script src="<?php echo base_url();?>@static/js/theme.bundle.js"></script>
  
    </body>
  
  </html>